<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css}">
    <script src="https://kit.fontawesome.com/bff9dc88d9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <!-- 아이콘 -->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
          rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto&display=swap}" rel="stylesheet">
    <script src="/js/header.js" defer></script>
    <title>youtube</title>
</head>
<body>
<header>
    <nav class="header-navbar">
        <div class="navbar__hamburger-logo">
            <i class="fa-solid fa-bars navbarBtn"></i>
            <img class="navbar__logo" src="/images/logo.png" data-href="/main">
        </div>
        <div class="navbar__search">
            <input type="text" placeholder="   검색">
            <i class="material-icons">search</i>
        </div>
        <ul class="navbar__icons">
            <li class="videoplus">
                <span class="material-icons">video_call</span>
            </li>
            <li class="alarm">
                <span class="material-icons">notifications</span>
            </li>
            <li class="user">
                <span class="material-icons">account_circle</span>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <aside class="aside">
        <div class="sidemenu-container">
            <ul class="sidemenu-item sidemenu__main">
                <li data-href="/home">
                    <span class="material-icons">home</span>
                    <p>홈</p>
                </li>
                <li data-href="/shorts">
                    <span class="material-icons">ondemand_video</span>
                    <p>Shorts</p>
                </li>
                <li data-href="/subscriptions">
                    <span class="material-icons">video_library</span>
                    <p>구독</p>
                </li>
                <li data-href="/originals">
                    <span class="material-icons">smart_display</span>
                    <p>Originals</p>
                </li>
                <li data-href="/music">
                    <span class="material-icons">headphones</span>
                    <p>YouTube Music</p>
                </li>
            </ul>
            <hr>
            <ul class="sidemenu-item sidemenu__user">
                <li data-href="/library">
                    <span class="material-icons">subscriptions</span>
                    <p>보관함</p>
                </li>
                <li data-href="/history">
                    <span class="material-icons">history</span>
                    <p>시청 기록</p>
                </li>
                <li data-href="/my-videos">
                    <span class="material-icons">live_tv</span>
                    <p>내 동영상</p>
                </li>
                <li data-href="/watch-later">
                    <span class="material-icons">schedule</span>
                    <p>나중에 볼 동영상</p>
                </li>
                <li data-href="/offline">
                    <span class="material-icons">download</span>
                    <p>오프라인 저장 동영상</p>
                </li>
            </ul>
            <hr>
            <ul class="sidemenu-item sidemenu__subscribe">
                <h1>구독</h1>
                <li data-href="/flat-dumplings">
                    <img src="/images/flat.png" alt="납작만두">
                    <p>납작만두</p>
                </li>
                <li data-href="/psick-univ">
                    <img src="/images/flat.png" alt="피식대학Psick Univ">
                    <p>피식대학Psick Univ</p>
                </li>
                <li data-href="/dreamcoding">
                    <img src="/images/flat.png" alt="드림코딩">
                    <p>드림코딩</p>
                </li>
                <li data-href="/dolby-horror-radio">
                    <img src="/images/flat.png" alt="돌비공포라디오">
                    <p>돌비공포라디오</p>
                </li>
                <li data-href="/strange-night">
                    <img src="/images/flat.png" alt="기묘한 밤">
                    <p>기묘한 밤</p>
                </li>
            </ul>
            <hr>
            <footer>
                <p>© 2024 Google LLC</p>
                <p>© 2024 Google LLC</p>
            </footer>
        </div>
    </aside>
</div>
</body>
</html>