<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>youtube</title>
    <script src="https://kit.fontawesome.com/e3e7530894.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
          rel="stylesheet">
    <script src="/js/index.js" defer></script>
</head>

<body>
<!-- header -->
<div th:insert="~{../common/header :: headerFragment}"></div>
<!-- // header -->

<div class="main">
    <div class="all">

        <div class="left">
            <!-- Video Player -->
            <section class="player">
                <video controls src="/video/flat-video.mp4"></video>
            </section>

            <!-- Video Info -->
            <section class="info">
                <!-- Metadata -->
                <div class="metadata">
                    <ul class="hashtags">
                        <li>#납작만두</li>
                        <li>#세계여행</li>
                        <li>#만두</li>
                    </ul>
                    <div class="titleAndButton">
                            <span class="title">
                                <span class="title-name clamp">
                                    세계 납작만두 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목 제목
                                </span>
                                <button class="moreBtn">
                                    <i class="fa-solid fa-caret-down"></i>
                                </button>
                            </span>
                    </div>
                    <div class="views">1M views 1 month ago</div>
                </div>
                <!-- Channel Description -->
                <div class="channel">
                    <div class="metadata">
                        <img class="me" src="/images/flat.png" alt="">
                        <div class="info">
                            <span class="name">채널이름</span>
                            <span class="subscribers">2K subscribers</span>
                        </div>
                        <button class="subscribe">subscribe</button>
                    </div>

                    <!-- Actions -->
                    <ul class="actions">
                        <li><button><i class="fa-solid fa-thumbs-up fa-2x"></i><span>1K</span></button></li>
                        <li><button><i class="fa-solid fa-share fa-2x"></i><span>Share</span></button></li>
                        <li><button><i class="fa-solid fa-arrow-up-right-from-square fa-2x"></i><span>Save</span></button></li>
                        <li><button><i class="fa-solid fa-flag fa-2x"></i><span>import</span></button></li>
                    </ul>
                </div>


                    <!-- 댓글 -->

                    <div class="Comment_box">
                        <div class="Comment_sort_box">
                            <span class="Comment_number">댓글 3개</span>
                            <!--<span class="Comment_number" th:text="'댓글 ' + ${commentsSample.size()} + '개'">댓글 0개</span> -->
                            <div>
                                <i class="material-icons">sort</i>
                                <span class="Comment_sort">정렬 기준</span>
                            </div>
                        </div>
                        <div class="Comment_input_part">
                            <img src="https://yt3.ggpht.com/ytc/AMLnZu9Jzp859A5IesAX3WqVFY0ocYhG3_oFkYuLlNlH1KPJhA=s88-c-k-c0x00ffffff-no-rj-mo" alt="User Image"/>
                            <div class="Comment_input_box">
                                <input
                                        type="text"
                                        placeholder="댓글 추가...">
                                        <!--th:value="${inputComment}"-->

                                <div>
                                    <div id="Comment_btn1" class="Comment_buttons">취소</div>
                                    <div id="Comment_btn2" class="Comment_buttons">작성</div>
                                </div>
                            </div>
                        </div>
                        <div class="Comments_list">
                            <!-- 댓글 반복
                            <div th:each="comment : ${commentsSample}" class="Comment">
                                <img th:src="${comment.imgSrc}" alt="User Image"/>
                                <div class="Comment_content">
                                    <span class="content_name" th:text="${comment.userName}"></span>
                                    <span class="content_date" th:text="${comment.date}"></span>
                                    <p class="content_text" th:text="${comment.comment}"></p>
                                    <i class="material-icons comment_thumb_up">thumb_up</i>
                                    <span class="content_like" th:text="${comment.like}"></span>
                                    <i class="material-icons comment_thumb_down">thumb_down</i>
                                    <span class="content_like" th:text="${comment.unlike}"></span>
                                </div>
                            </div> -->
                            <div class="Comments_list">
                                <div class="Comment">
                                    <img src="https://yt3.ggpht.com/ytc/AMLnZu_D4JwoqK3mF9YcK1b6_sQ8lvdQ-luwDuqt3w=s88-c-k-c0x00ffffff-no-rj" alt="User Image"/>
                                    <div class="Comment_content">
                                        <span class="content_name">테스트</span>
                                        <span class="content_date">2022/05/05</span>
                                        <p class="content_text">좋아요!!</p>
                                        <i class="material-icons comment_thumb_up">thumb_up_off_alt</i>
                                        <span class="content_like">5</span>
                                        <i class="material-icons comment_thumb_down">thumb_down_off_alt</i>
                                        <span class="content_unlike">5</span>
                                    </div>
                                </div>
                                <div class="Comment">
                                    <img src="https://lh3.googleusercontent.com/ogw/AOh-ky1uAXwkV8yiFs8KaB07AxluQj2nYO0d-RgdXzqr=s64-c-mo" alt="User Image"/>
                                    <div class="Comment_content">
                                        <span class="content_name">성원진</span>
                                        <span class="content_date">2022/05/05</span>
                                        <p class="content_text">좋아요!!</p>
                                        <i class="material-icons comment_thumb_up">thumb_up_off_alt</i>
                                        <span class="content_like">5</span>
                                        <i class="material-icons comment_thumb_down">thumb_down_off_alt</i>
                                        <span class="content_unlike">5</span>
                                    </div>
                                </div>
                                <div class="Comment">
                                    <img src="https://yt3.ggpht.com/ytc/AMLnZu9kCKCBTyW3NUg0qiakoo_NPijLpMRjHyWyeUhO1-FAXAjbtINI76YzJSfQZ5JZCGnqUxU=s88-c-k-c0x00ffffff-no-rj" alt="User Image"/>
                                    <div class="Comment_content">
                                        <span class="content_name">원진성</span>
                                        <span class="content_date">2022/05/05</span>
                                        <p class="content_text">좋아요!!</p>
                                        <i class="material-icons comment_thumb_up">thumb_up_off_alt</i>
                                        <span class="content_like">5</span>
                                        <i class="material-icons comment_thumb_down">thumb_down_off_alt</i>
                                        <span class="content_unlike">5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- // 댓글 -->

            </section>
        </div>

        <div class="right">
            <span class="title">Up next</span>
            <ul>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">Flexbox Froggy 문제풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">3.2K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[코드엔진] Basic RCE L14 풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">1.7K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[코드엔진] Basic RCE L10 풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">2.4K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[자료구조 with Python] 선형리스트의 원리, 구현</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">1.4K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[이것이 코딩테스트다] 숫자 카드 게임</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">2.9K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">어셈블리어로 Hello World 출력하기</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">3.5K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[코드엔진] Basic RCE L10 풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">2.4K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">스택프레임 이해하기</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">1K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">Flexbox Froggy 문제풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">3.2K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[코드엔진] Basic RCE L14 풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">1.7K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[코드엔진] Basic RCE L10 풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">2.4K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[자료구조 with Python] 선형리스트의 원리, 구현</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">1.4K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[이것이 코딩테스트다] 숫자 카드 게임</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">2.9K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">어셈블리어로 Hello World 출력하기</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">3.5K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[코드엔진] Basic RCE L10 풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">2.4K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">스택프레임 이해하기</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">1K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">Flexbox Froggy 문제풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">3.2K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[코드엔진] Basic RCE L14 풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">1.7K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[코드엔진] Basic RCE L10 풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">2.4K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[자료구조 with Python] 선형리스트의 원리, 구현</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">1.4K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[이것이 코딩테스트다] 숫자 카드 게임</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">2.9K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">어셈블리어로 Hello World 출력하기</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">3.5K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">[코드엔진] Basic RCE L10 풀이</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">2.4K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>
                <li class="item">
                    <div class="img"><img src="/images/flat.png" alt=""></div>
                    <div class="info">
                        <span class="title">스택프레임 이해하기</span>
                        <span class="name">코딩 by test</span>
                        <span class="views">1K views</span>
                    </div>
                    <div>
                        <button class="moreBtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>

</body>
</html>