<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css}">
    <script src="https://kit.fontawesome.com/847d54d8db.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- 아이콘 -->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
          rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto&display=swap}" rel="stylesheet">
    <title>youtube</title>
</head>
<body>
<header>
    <nav class="header-navbar">
        <div class="navbar__hamburger-logo" href="">
            <i class="fa-solid fa-bars"></i>
            <img class="navbar__logo" src="/images/logo.png" alt="">
        </div>
        <div class="navbar__search">
            <input type="text" placeholder="   검색">
            <i class="material-icons">search</i>
        </div>
        <ul class="navbar__icons">
            <li class="videoplus">
                <span class="material-icons">video_call</span>
            </li>
            <li class="alarm">
                <span class="material-icons">notifications</span>
            </li>
            <li class="user">
                <span class="material-icons">account_circle</span>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <aside>
        <div class="sidemenu-container">
            <ul class="sidemenu-item sidemenu__main">
                <li>
                    <span class="material-icons">home</span>
                    <p>홈</p>
                </li>
                <li>
                    <span class="material-icons">ondemand_video</span>
                    <p>Shorts</p>
                </li>
                <li>
                    <span class="material-icons">video_library</span>
                    <p>구독</p>
                </li>
                <li>
                    <span class="material-icons">smart_display</span>
                    <p>Originals</p>
                </li>
                <li>
                    <span class="material-icons">headphones</span>
                    <p>YouTube Music</p>
                </li>
            </ul>
            <hr>
            <ul class="sidemenu-item sidemenu__user">
                <li>
                    <span class="material-icons">subscriptions</span>
                    <p>보관함</p>
                </li>
                <li>
                    <span class="material-icons">history</span>
                    <p>시청 기록</p>
                </li>
                <li>
                    <span class="material-icons">live_tv</span>
                    <p>내 동영상</p>
                </li>
                <li>
                    <span class="material-icons">schedule</span>
                    <p>나중에 볼 동영상</p>
                </li>
                <li>
                    <span class="material-icons">download</span>
                    <p>오프라인 저장 동영상</p>
                </li>
            </ul>
            <hr>
            <ul class="sidemenu-item sidemenu__subscribe">
                <h1>구독</h1>
                <li>
                    <img src="/images/flat.png" alt="">
                    <p>납작만두</p>
                </li>
                <li>
                    <img src="/images/flat.png" alt="">
                    <p>피식대학Psick Univ</p>
                </li>
                <li>
                    <img src="/images/flat.png" alt="">
                    <p>드림코딩</p>
                </li>
                <li>
                    <img src="/images/flat.png" alt="">
                    <p>돌비공포라디오</p>
                </li>
                <li>
                    <img src="/images/flat.png" alt="">
                    <p>기묘한 밤</p>
                </li>
            </ul>
            <hr>
            <footer>
                <p>© 2024 Google LLC</p>
                <p>© 2024 Google LLC</p>
            </footer>
        </div>
    </aside>
    <main>
        <nav class="navbar">
            <li><a href="#">전체</a></li>
            <li><a href="#">음악</a></li>
            <li><a href="#">믹스</a></li>
            <li><a href="#">게임</a></li>
            <li><a href="#">뉴스</a></li>
            <li><a href="#">실시간</a></li>
            <li><a href="#">액션 어드벤처 게임</a></li>
            <li><a href="#">요리</a></li>
            <li><a href="#">최근에 업로드된 동영상</a></li>
            <li><a href="#">새로운 맞춤 동영상</a></li>
        </nav>
        <div class="video-container">
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">발리에서 할 일, 오로지 나에게 집중하기 (갓성비 숙소|환전|로컬 맛집|선셋 비치 클럽|17,000원 호텔 데이패스? 헬스, 수영, 마사지, 식음료까지</h1>
                        <p class="nickname">지니몬JINIMON</p>
                        <p>조회수 8.1천회ㆍ1일 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">스리랑카의 깊은 동굴 속에서 발견된 기괴한 모습의 벽화들 [미스터리]</h1>
                        <p class="nickname">기묘한 밤</p>
                        <p>조회수 6.7만회ㆍ1일 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">여유로운 날 기분 전환을 위한 최고의 노래 🦄 Chilled Soul & R&B</h1>
                        <p class="nickname">Mimi Lofi Chill</p>
                        <p>조회수 259만회ㆍ10개월 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">[05학번이즈히어] 신도시 아재들 : 세상에 완벽한 이혼은 없다</h1>
                        <p class="nickname">피식대학Psick Univ</p>
                        <p>조회수 47만회ㆍ22시간 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">발리에서 할 일, 오로지 나에게 집중하기 (갓성비 숙소|환전|로컬 맛집|선셋 비치 클럽|17,000원 호텔 데이패스? 헬스, 수영, 마사지, 식음료까지</h1>
                        <p class="nickname">지니몬JINIMON</p>
                        <p>조회수 8.1천회ㆍ1일 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">스리랑카의 깊은 동굴 속에서 발견된 기괴한 모습의 벽화들 [미스터리]</h1>
                        <p class="nickname">기묘한 밤</p>
                        <p>조회수 6.7만회ㆍ1일 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">여유로운 날 기분 전환을 위한 최고의 노래 🦄 Chilled Soul & R&B</h1>
                        <p class="nickname">Mimi Lofi Chill</p>
                        <p>조회수 259만회ㆍ10개월 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">[05학번이즈히어] 신도시 아재들 : 세상에 완벽한 이혼은 없다</h1>
                        <p class="nickname">피식대학Psick Univ</p>
                        <p>조회수 47만회ㆍ22시간 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">발리에서 할 일, 오로지 나에게 집중하기 (갓성비 숙소|환전|로컬 맛집|선셋 비치 클럽|17,000원 호텔 데이패스? 헬스, 수영, 마사지, 식음료까지</h1>
                        <p class="nickname">지니몬JINIMON</p>
                        <p>조회수 8.1천회ㆍ1일 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">스리랑카의 깊은 동굴 속에서 발견된 기괴한 모습의 벽화들 [미스터리]</h1>
                        <p class="nickname">기묘한 밤</p>
                        <p>조회수 6.7만회ㆍ1일 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">여유로운 날 기분 전환을 위한 최고의 노래 🦄 Chilled Soul & R&B</h1>
                        <p class="nickname">Mimi Lofi Chill</p>
                        <p>조회수 259만회ㆍ10개월 전</p>
                    </div>
                </div>
            </div>
            <div class="video-item">
                <img class="thumbnail" src="/images/flat.png" alt="">
                <div class="video-info">
                    <img src="/images/flat.png" alt="">
                    <div class="video-info-detail">
                        <h1 class="title">[05학번이즈히어] 신도시 아재들 : 세상에 완벽한 이혼은 없다</h1>
                        <p class="nickname">피식대학Psick Univ</p>
                        <p>조회수 47만회ㆍ22시간 전</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>