<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script src="https://kit.fontawesome.com/e3e7530894.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/updateProfile.css}">
  <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
        rel="stylesheet">
</head>

<body>
<!-- header -->
<div th:insert="~{../common/header :: headerFragment}"></div>
<!-- // header -->

<div class="main">
  <div class="all">
    <div class="profile-container">

      <h1 class="profile-title">내 정보 수정</h1>

      <form th:action="@{/updateProfile}" method="post" enctype="multipart/form-data" class="profile-form">
        <div class="form-group">
          <label for="username">사용자 이름</label>
<!--          <input type="text" id="username" name="username" th:value="${user.username}" required placeholder="사용자 이름을 입력하세요">-->
          <input type="text" id="username" name="username" required placeholder="사용자 이름을 입력하세요">
        </div>
        <div class="form-group">
          <label for="email">이메일</label>
<!--          <input type="email" id="email" name="email" th:value="${user.email}" required placeholder="이메일을 입력하세요">-->
          <input type="email" id="email" name="email" required placeholder="이메일을 입력하세요">
        </div>
        <div class="form-group">
          <label for="gender">성별</label>
          <select id="gender" name="gender" class="gender-select">
<!--            <option value="MALE" th:selected="${user.gender == 'MALE'}">남성</option>-->
<!--            <option value="FEMALE" th:selected="${user.gender == 'FEMALE'}">여성</option>-->
<!--            <option value="OTHER" th:selected="${user.gender == 'OTHER'}">기타</option>-->
            <option value="MALE">남성</option>
            <option value="FEMALE">여성</option>
            <option value="OTHER">기타</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">비밀번호</label>
          <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요 (변경할 경우)">
        </div>
        <button type="submit" class="save-button">저장하기</button>
      </form>

      <p><a th:href="@{/myPage}" class="cancel-link">취소</a></p>
    </div>


  </div>
</div>

</body>
</html>