:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #1359c7;
  --red-color: #e30504;
  --gray-dark-color: #616161;
  --gray-light-color: #8e8e8e;

  /* size */
  --padding:12px;
  --avatar-size: 36px;

  /* font size */
  --font-superlarge: 22px;
  --font-verylarge: 20px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

.all {
  padding : 10px;
  justify-content: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}


/* Video Player */
.player {
  margin-left: 10px;
  /*position: sticky;
  top: 0;*/
  text-align: center;
  /*background-color: var(--black-color);*/
}

.player video {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  /*max-width:800px;*/
}

.left .info {
  margin: 10px;
  margin-top: 20px;
}

body > .info {
  padding: var(--padding);
}

.info .metadata {
  margin: 10px;
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-large);
  margin-right: var(--padding);
  margin-left: 0;

}

.info .metadata .titleAndButton .title .clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton {
  margin-top: 8px;
  margin-bottom: 8px;
  max-width: 1200px;
}

.info .metadata .titleAndButton .comment {
  text-align: center;
  text-decoration: none;
}

button, button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}


.info .views {
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.info .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--gray-light-color);
  padding-left: 20px;
  padding-right: 20px;
}


.info .actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding)/2);
  font-size: 16px;
}

.info .actions i.fa-thumbs-up.active {
  color: var(--blue-color);
}

.info .actions button i.fa-flag.active {
  color: var(--red-color);
}

.info .channel {
  display: flex;
  justify-content: space-between;
}

.info .channel .metadata {
  display: flex;
  align-items: center;
}

.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}


.info .channel .metadata .me {
  width: var(--avatar-size);
  height: var(--avatar-size);
  margin-right: var(--padding);
  border-radius: 50%;
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}

.info .channel .metadata .info .name {
  font-size: var(--font-medium);
  margin-bottom: 7px;
}

.info .channel .metadata .info .subscribers {
  color: var(--gray-dark-color);
  font-size: var(--font-small);
}

.info .channel .metadata .subscribe {
  text-transform: uppercase;
  color: var(--white-color);
  font-size: var(--font-medium);
  background: var(--red-color);
  padding: 10px;
  border-radius: 30px;
}

.info .channel .metadata .subscribe:hover {
  cursor: pointer;
}

.info .channel .metadata .subscribe.clicked {
  background-color: #e3e3e3;
  color: #8d8d8d;
}


.comment {
  text-align: center;
  margin: 50px;
}

.comment a{
  text-decoration: none;
}
.right {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  color: var(--black-color);

}

.right .title {
  font-size: var(--font-medium);
  color: var(--gray-dark-color);
  margin-left: 25px;
  margin-bottom: calc(var(--padding) / 2);
}

.right .item {
  display: flex;
  color: var(--black-color);
  margin-top: var(--padding);
  margin-left: calc(var(--padding)*2);

}

.right .item .img {
  flex: 1 1 25%;
  margin-right: var(--padding);

}

.right .item .info {
  flex: 70%;

}

.right .item .info .title {
  margin-left:0;
}

.right .item .img img {
  width: 180px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}



.right .item .moreBtn {
  flex: 1 1 5%;
  margin-left: 5px;
}

.right .item .info {
  display: flex;
  flex-direction: column;


}

.right .item .info .name,
.right .item .info .views {
  margin-left: 25px;
  font-size: var(--font-small);
  color: var(--gray-dark-color);
  margin-left: 0;
}


.left {
  display: flex;
  flex-direction: column;
}

.main {
  width: 86vw;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .all {
    display: flex;
    flex-direction: row;
    margin: var(--padding) 0;
    margin: calc(3*(var(--padding)));
    margin-top:0;
  }

  .sidemenu-container {
      width: 42px;
  }
}

/* 댓글 css */
.Comment_box {
    width: 100%;
}
.Comment_sort_box {
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Comment_sort_box div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Comment_sort {
    color: black !important;
    font-size: 14px !important;
}
.Comment_number {
    font-size: 18px !important;
    color: black !important;
    font-weight: 600;
}
.Comment_input_part {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    /* background-color: aquamarine; */
}
.Comment_input_part img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.Comment_input_box {
    width: 100%;
    /* background-color: #787878; */
}
.Comment_input_box div {
    width: 160px;
    height: 36px;
    float: right;
    display: flex;
    flex-direction: row;
    margin-bottom: 21px;
}
.Comment_input_box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #666;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5;
}

.Comment_input_box input:focus {
    outline: none;
    border-bottom: 1px solid #000;
}

@keyframes inputAnimation {
    from {
        box-sizing: inherit;
        border-bottom: 1px solid #000;
        transform: scale3d(0, 1, 0);
    }
    to {
        box-sizing: inherit;
        border-bottom: 2px solid #000;
        transform: scale3d(1, 1, 1);
    }
}
.Comment_line {
    position: absolute;
    top: 138%;
    height: 1px;
    width: 63%;
    background-color: lightgrey;
    transition: 0.3s;
}
.Comment_line_inAni {
    position: absolute;
    top: 138%;
    height: 2px;
    width: 63%;
    background-color: black;
    animation-name: inputAnimation;
    animation-duration: 0.3s;
}
.Comment_buttons {
    width: 72px;
    height: 37px;
    line-height: 37px;
    margin: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: #909090;
    font-size: 13px;
}
#Comment_btn1 {
    background-color: rgb(246, 246, 246);
    color: #787878;
}
#Comment_btn2 {
    background-color: rgb(225, 225, 225);
}
#Comment_btn2_active {
    background-color: rgb(19, 51, 255);
    color: white;
    cursor: pointer;
}
.Comments_list {
    width: 100%;
    height: auto;
}

.Comment_box {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.Comment_menu {
    position: absolute;;
    right: 480px;
}
.Comment_box:nth-child(1) {
    margin-top: 10px;
}
.Comment_box img {
    vertical-align: top;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.Comment_box > div > p {
    font-size: 13px;
    margin-top: 5px;
}
.Comment_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}
.Comment_info span {
    font-size: 10px;
    color: grey;
}
.Comment_info p {
    font-size: 13px;
    margin-right: 5px;
}
.Comment_good_bad {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.Comment_good_bad span {
    margin: 0 10px;
    color: black;
}

.Comment_content {
    display: inline-block;
}
.Comment {
    margin-top: 30px;
}

/* comment_input_box */
#Comment_btn2.active {
    background-color: #4f7dff; /* 활성화된 색상 */
    cursor: pointer; /* 활성화된 커서 */
    color: white;
}

/* 댓글 리스트 css */
.content_name {
    font-weight: 600;

}

.content_date {
    margin-left: 10px;
    font-size: 13px;
}

.content_text {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 댓글 like, unlike 아이콘 */
.comment_thumb_up {
    font-size: 20px!important;
    color: #5f6368!important;
}

.comment_thumb_down {
    margin-left: 10px;
    font-size: 20px!important;
    color: #5f6368!important;
}

.comment_thumb_up:hover {
    cursor: pointer;
}

.comment_thumb_down:hover {
    cursor: pointer;
}

/* 영상 소개글 */
.video-description {
    background-color: #f0f0f0; /* 연한 회색 배경 */
    padding: 10px;
    border-radius: 20px;
}

.video-text-content {
    max-height: 55px; /* 기본적으로 보여줄 최대 높이 */
    overflow: hidden;
    transition: max-height 0.2s ease; /* 부드러운 애니메이션 */
    margin : 5px;
    text-overflow: ellipsis;    /* 넘치는 텍스트 숨김 */
}

.video-text-content > p {
    margin : 2px;
}

.video-text-content.expanded {
    max-height: none; /* 최대 높이 제한 제거 */
    height: auto; /* 내용에 따라 높이 자동 조정 */
}

.toggle-btn {
    background: none!important;
    border: none;
    color: black;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
}

.video-meta {
    display: flex; /* 가로 정렬 */
    margin: 5px; /* 설명과 간격 */
}

.video-view-count,
.video-date {
    margin-right: 10px;
    font-size: 14px; /* 글자 크기 조정 */
    color: #666; /* 색상 조정 */
}

/* 정렬 기준 */
.sort-modal {
    display: none; /* 기본적으로 숨김 */
    position: absolute; /* 절대 위치 설정 */
    width: 150px; /* 모달 너비 */
    border: 1px solid #ccc; /* 테두리 */
    background-color: #fff; /* 배경색 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    border-radius: 10px;
}

.sort-modal ul {
    list-style-type: none; /* 기본 목록 스타일 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
}

.sort-modal li {
    cursor: pointer; /* 커서 포인터로 변경 */
    padding: 10px; /* 항목 여백 */
}

.sort-modal li:hover {
    background-color: #e0e0e0; /* 마우스 오버 시 배경색 변경 */
}
.sort-header:hover {
    cursor: pointer;
}
