body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
}
footer {
  color: #696969;
  line-height: 15px;
  font-size: 0.9em;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
}
.navbar > li {
  list-style: none;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 5px;
}
.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
}
.main {
  width: 86vw;
  flex-grow: 1;
  padding: 20px;
}
.video-container {
  display: flex;
  /*justify-content: center;*/
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px 0;
  gap: 10px;
  margin-left: 20px;
}
.video-item {
  display: flex;
  flex-direction: column;
  width: 24%;
  gap: 10px;
}
.thumbnail {
  border-radius: 13px;
}
.video-info {
  display: flex;
  gap: 10px;
}
.video-info img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.video-info-detail {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
.video-info-detail h1 {
  font-size: 1em;
}
.video-info-detail p {
  font-size: 0.8em;
  color: #696969;
}
@media screen and (max-width: 2000px) {
  .video-item {
    width: 22%;
  }
  .sidemenu-item > li > p, footer {
    /*display: none;*/
  }
}
@media screen and (max-width: 760px) {
  .video-item {
    width: 22%;
  }
  .sidemenu-item > li > p, footer {
    display: none;
  }
  .sidemenu-container {
    width: 42px;
  }
}

.aside {
    width: 200vw;
}