.all {
    margin-top: 30px;
}

.mypage-container {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40vw;
}

.mypage-title {
    font-size: 2rem;
    color: #333; /* 기본 색상으로 변경 */
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.profile-section {
    margin-bottom: 2rem;
    text-align: center;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem; /* 아래 여백 추가 */
}

.username {
    font-size: 1.5rem;
    color: #444; /* 약간 어두운 색으로 변경 */
    margin: 0.5rem 0;
}

.user-info {
    font-size: 1rem;
    color: #666; /* 회색으로 부드럽게 */
    margin-bottom: 0.5rem; /* 아래 여백 추가 */
}

.user-bio {
    font-size: 1rem;
    color: #555; /* 약간 더 진한 회색 */
    margin: 0; /* 여백 제거 */
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.action-button {
    padding: 1rem; /* 버튼 크기 조정 */
    background-color: #f8f8f8; /* 부드러운 회색 배경 */
    color: #d9534f; /* 부드러운 빨강 */
    text-decoration: none;
    border: 2px solid #d9534f; /* 테두리 색상 변경 */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    font-weight: bold; /* 텍스트를 두껍게 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    padding-left: 20px; /* 왼쪽 여백 추가 */
    position: relative; /* 위치 설정 */
}

.action-button:hover {
    background-color: #d9534f; /* 호버 시 배경색 변경 */
    color: white; /* 호버 시 텍스트 색상 변경 */
    transform: translateY(-2px);
}

.action-button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px; /* 왼쪽 바 강조 */
    height: 60%; /* 높이 조정 */
    background-color: #d9534f; /* 부드러운 빨강 */
}



