.all {
    margin-top: 30px;
}

.signup-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-title {
    font-size: 1.7rem;
    color: #333; /* 기본 색상 */
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    font-size: 1rem!important;
    color: #555; /* 약간 어두운 회색 */
    display: block; /* 블록으로 표시 */
    font-weight: 600!important;
    margin: 10px!important;
}

input {
    padding: 0.75rem;
    border: 1px solid #ccc; /* 테두리 색상 */
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 */
    transition: border-color 0.3s;
}

input:focus {
    border-color: #FF0000; /* 포커스 시 테두리 색상 변경 */
    outline: none; /* 아웃라인 제거 */
}

.signup-button {
    padding: 0.75rem;
    background-color: #FF0000; /* 유튜브 레드 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #e60000; /* 호버 시 색상 변경 */
}

.login-redirect {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.login-link {
    color: #FF0000; /* 유튜브 레드 */
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}
